DJANGO_SECRET_KEY=
DJANGO_LOG_LEVEL=DEBUG

DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# the email address that emails are sent from (user@host.com)
SERVER_EMAIL=

# domain name or IP address
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# dev or prod
DEV_ENV=dev

PYTHONUNBUFFERED=1