{% extends "base.html" %}

{% load tz %}

{% block meta %}
{% with 'meta' as {{meta}} %}
    {{block.super}}
{% endwith %}
{% endblock %}

{% block back_button %}
<a href="/" class="back" rel="nofollow">&#12296; Back</a>
{% endblock %}

{% block content %}
<h1>Local tech and startup events in {{city.short_name}}</h1>

{% for date,values in days.items %}
<h2 class="pure-g">
    <div class="pure-u-2-5">{{values.date}}</div>
    <div class="pure-u-3-5 date">{{values.dow}}</div>
</h2>
    {% for event in values.events %}
    <div class="event" itemscope itemtype="http://schema.org/Event">
        <a itemprop="url" href="{{event.url}}" title="{{event.name}}" onclick="trackOutboundLink('{{event.url}}'); return false;"><span itemprop="name">{{event.name}}</span></a>
        <small>
            <!--<time itemprop="doorTime" datetime="YYYY-MM-DD HH:mm">{{event.begin_time|time:"H:i"}}</time>--> 
            <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">{{event.address}}</span>
            </span>
        </small>
    </div>
    {% endfor %}
 
{% endfor %}

{% endblock %}
